:root {
    --color-1: #d1dbe4; /* Light Blue Grey */
    --color-2: #a3b7ca; /* Silver Lake Blue */
    --color-3: #7593af; /* Dark Sky Blue */
    --color-4: #476f95; /* Steel Blue */
    --color-5: #194a7a; /* Dark Cerulean */
    --bondi-blue: #1E91B3ff;
    --nav-font: "Courier Prime", monospace;
  }
  
nav{
    min-height: 10vh;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-5);
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar{
    top: 10vh;
}

.nav-link{
    cursor: pointer;
    font-family: var(--nav-font);
    font-size: 1.1em;
    color: var(--color-1);
    padding: 10px;
    margin-right: 15px;
}


.navbar-toggler {
    border: 2px solid var(--color-3); /* Add your custom border color and style */
    border-radius: 5px; /* Optional: Add border radius */
}

.navbar-toggler-icon {
    background-image: none; /* Remove default icon */
}

.navbar-toggler-icon::before {
    content: '\2630'; /* Unicode for hamburger icon */
    font-family: var(--nav-font);
    font-size: 1rem;
    color: var(--color-1); /* Change to your desired icon color */
}

.navbar-toggler-text {
    font-size: 1rem;
    color: var(--color-1); /* Change to your desired text color */
}